<nav>

{# <ul>
    <li>
         <img src="/imgs/instagram.png" style="width: 1%" alt="instagram logo image"> <a href="https://www.instagram.com/space.j3ster/?hl=en" rel="noopener"> instagram</a>
    </li>
<li>
<img src="/imgs/gmail.png" style="width: 1.5%" alt="gmail logo image"> <a href="pollygasterjubb@gmail.com" rel="noopener"> contact me</a>
</li>
</ul> #}

<ul>
    <li>
         <a href="https://www.instagram.com/space.j3ster/?hl=en" rel="noopener"> instagram</a>
    </li>
<li>
 <a href="/contact" class="{% if page.url == "/contact/" %}current-link{% endif %}">contact me</a>
</li>

<li>
 <a href="/" class="{% if page.url == "/" %}current-link{% endif %}">home</a>
</li>
</ul>

</nav>